body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background: white;
  margin-top: 1rem;
  border-radius: 8px;
}

h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.accordion-btn {
  width: 100%;
  text-align: left;
  background: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background 0.3s;
}

.accordion-btn:hover {
  background: #ddd;
}

.accordion-content {
  display: none;
  padding: 0.8rem;
  background: #f9f9f9;
  border-left: 3px solid #007acc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-btn.active {
  background: #ccc;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: white;
  margin-top: 2rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

p {
   text-align: justify;
}

